<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>

<%- include('partials/header') %>
    
    <div class = "lib">
    <h2>Library</h2>
    </div>
    
    <div class="Links">
    <ul>
        <li>
            <h3>Book genres</h3>
            <p>Here you can choose any book genre of your liking and get redirected to an online E-book library in which you can select and read any book of your choice</p>
            <ul>
            <li><a href=" https://www.free-ebooks.net/children#gs.5lri6u"> Children </a></li>
                <li><a href="https://www.free-ebooks.net/sci-fi-fantasy#gs.26w43v">Sci-fi Fantasy </a></li>
                <li><a href="https://www.free-ebooks.net/mystery#gs.26w5pj">Mystery </a></li>
                <li><a href="https://www.free-ebooks.net/drama"> Drama </a></li>
                <li><a href=" https://www.free-ebooks.net/humor#gs.5lrc09">Humor </a></li>
                <li><a href="https://www.free-ebooks.net/romance#gs.5lrelf ">Romance</a></li>
                <li><a href="https://www.free-ebooks.net/erotica#gs.5lubx8 ">Erotica
                <li><a href=" https://www.free-ebooks.net/horror-gothic#gs.5lreua"> Horror </a></li>
                <li><a href=" https://www.free-ebooks.net/fiction#gs.5lrgih">Fiction </a></li>
                <li><a href="https://www.free-ebooks.net/poetry#gs.5lrhcq ">Poetry </a></li>
                <li><a href=" https://www.free-ebooks.net/educational#gs.5luf83"> Educational </a></li>
                <li><a href=" https://www.free-ebooks.net/health#gs.5lugrc"> Health </a></li>
                <li><a href=" https://www.free-ebooks.net/travel#gs.5luhmk"> Travel </a></li>
                <li><a href=" https://www.free-ebooks.net/psychology#gs.5luite"> Psychology </a></li>
                <li><a href=" https://www.free-ebooks.net/internet-technology"> Technology </a></li>
            </ul>
        </li>
    </ul>
    </div>

<footer>
<%- include('partials/footer') %>
</footer>
</body>
</html>